@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202020;
  color: aliceblue;
}

.image-container {
  width: 200px; /* Ancho deseado */
  height: 200px; /* Alto deseado */
  border: 1px solid #ccc; /* Borde deseado */
  display: flex; /* Opcional: permite centrar la imagen */
  align-items: center; /* Opcional: centra verticalmente la imagen */
  justify-content: center; /* Opcional: centra horizontalmente la imagen */
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-button-left {
  margin-right: auto;
}

.pagination-button-right {
  margin-left: auto;
}

.pagination-button {
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  padding: 10px 20px; /* Mayor padding alrededor del texto */
}
